%p#notice= notice

%p
  %b First:
  = @principal.first
%p
  %b Name:
  = @principal.name
%p
  %b Last:
  = @principal.last
%p
  %b Name:
  = @principal.name
%p
  %b Titles:
  = @principal.titles
%p
  %b Biography:
  = @principal.biography

= link_to 'Edit', edit_principal_path(@principal)
\|
= link_to 'Back', principals_path
