<p id="notice"><%= notice %></p>

<p>
  <strong>Schoolname:</strong>
  <%= @school.schoolname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Contactinfo:</strong>
  <%= @school.contactinfo %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
